body{
    margin: 0;
    background-color: #aac;
}


.grid__conteiner{
    
    display: grid;
    height: 100vh;
    grid-template-rows: 10fr 4fr 60fr 8fr ;
    grid-template-columns: 5fr 20fr 20fr 40fr 40fr 5fr;
    
    
        
}

.grid__header{
    background-color: #000;
    grid-column: 1/ span 6;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    padding: 2rem 0;
    background-image: url(https://www.mdzol.com/u/fotografias/m/2020/10/28/f1280x720-974755_1106430_5050.jpg);
    background-size: contain;
    background-position: center;
}


.grid__nav{
    background-color: #fff;
    grid-column: 1/ span 6;
    text-align: center;
    
    
}

.nav__main{
    padding: 0;
    display: flex;
    margin: 0;
    
}

.nav__main--li{
    display: inline-block; 
    width: 25%;
    transition: background-color 00.4s ease;
    padding: 1rem 0;
    
    
}

.nav__main--li:hover{
    background-color: #000;
    
}

.nav__main--a{
    text-decoration: none;
    color: #48e;
     
}


/*  */

.grid__section{
    background-color: #aac;
    grid-column: 2/5;
    
}

.grid__section--i{
    background-color: #aac;
    grid-column: 1/ span 6;

}


.section__post{
    border: 0.5rem black double;
    margin: 2rem;
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    transition: box-shadow 0.5s ease;
    
    
}

.section__post:hover{
    box-shadow: 0rem 0rem 1rem;
}



.grid__aside{
    background-color: #aac;
    grid-column: 5/6;
}

.aside__post{
    padding: 1rem;
    background-color: white;
    border: 0.5rem black double;
    margin: 2rem;
    top: 0;
    position: sticky;
    transition: box-shadow 0.5s ease;
    
}

.aside__post:hover{
    box-shadow: 0rem 0rem 1rem;
}




.grid__footer{
    background-color: #000 ;
    grid-column: 1/ span 6;
    
}


.footer__address{
    text-align: center;
    padding: 1rem;
    
}

.footer__address--titulo{
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}

.footer__address--ul{
    padding: 0;
    display: flex;
    margin-top: 2rem;
}

.footer__address--li{
    display: inline-block;
    width: 33.33%;
}

.footer__address--a{
    color: #48e;
    text-decoration: none;
    font-style: normal;
    
}



.footer__nav{
    background-color: #fff;
    text-align: center;
    padding: 0.5rem;
    transition: background-color 0.4s ease ;
    
    
}

.footer__nav:hover{
    background-color: #000;
}


.footer__nav--a{
    color: #48e;
    text-decoration: none;
    
    
}


@media screen and (max-width:1000px) 

{
   .grid__section{
    grid-column: 1 / span 6;

   }

   .grid__aside {
    grid-column: 1 / span 6;
   }


   .grid__footer{
    grid-row: 5/6;
   }




}